<div class="column" id="">
  <article class="card card--solution muted">
    <div class="card__content">
      <h5 class="card__title">
        <%= @model.title %>
      </h5>
      <div><span class="author__name"><%= @model.team_name %></span></div>
      <div class="solution-youtube">
        <iframe width="100%" height="100%" src="//www.youtube.com/embed/<%= @model.youtube_link %>"></iframe>
      </div>

      <div class="solution-github">
        <a href="<%= @model.github_link %>" target="_blank">
          <%= image_tag "GitHub-Mark-32px.png" %> <%= t("solutions.index.github_link") %>
        </a>
      </div>
      <div class="link-apps__cards">
        <% if @model.android_mkt_url.blank? and @model.android_mkt_url.blank? and @model.ios_mkt_url.blank? %>
          <%= t("solutions.index.comming_soon") %>
        <% else %>
          <% if @model.web_url.present? %>
          <a href="<%= @model.web_url %>" target="_blank">
            &nbsp;<%= icon("paperclip", class: "icon--small") %> <%= t("solutions.index.web_url") %>
          </a>
          <% end %>
          <% if @model.android_mkt_url.present? %>
          <a href="<%= @model.android_mkt_url %>" target="_blank">
            &nbsp;<%= icon("paperclip", class: "icon--small") %> <%= t("solutions.index.android_mkt_url") %>
          </a>
          <% end %>
          <% if @model.ios_mkt_url.present? %>
          <a href="<%= @model.ios_mkt_url %>" target="_blank">
            &nbsp;<%= icon("paperclip", class: "icon--small") %> <%= t("solutions.index.ios_mkt_url") %>
          </a>
          <% end %>
        <% end %>
      </div>
      <div class="solution-desc"><%= @model.description %></div>
    </div>
    <div class="card__status">
      <ul class="card-data">
        <li class="card-data__item creation_date_status">
          <div class="solution-ods-card">
            <%= image_tag "ods/#{I18n.locale.to_s}/ODS #{@model.sd_goal_id}.jpg", alt: "#{translated_attribute(SDGoal.find(@model.sd_goal_id).name)}", title: "#{translated_attribute(SDGoal.find(@model.sd_goal_id).name)}" , class: "ods-image-list" %>
          </div>
        </li>
        <li class="card-data__item creation_date_status">
          <div style="margin-top: 10px; margin-bottom: 15px; text-transform: none">
            <%= t("solutions.index.created_at") %>
          </div>
          <%= @model.created_at.strftime("%d/%m/%Y") %>
        </li>
      </ul>
    </div>
    <div class="card__footer">
<!-- TODO: Llistar necessitats relacionades -->

    </div>

  </article>
</div>
