<main class="wrapper">
  <div class="row columns">
    <div class="title-action">
      <h2 class="title-action__title section-heading">
        <%= t(".edit_solution") %>
      </h2>
    </div>
  </div>
  <div class="row">
    <div id="solutions" class="columns mediumlarge-8 large-9">
      <%= decidim_form_for(@solution, url: solution_path(@solution), html: { multipart: true, class: "form" }) do |form| %>
        <div class="card">
          <div class="card-section">
            <%= render partial: 'form', locals: {form: form} %>
            <div class="button--double form-general-submit">
              <%= form.submit t(".update") %>
              <%= link_to "Cancel", solutions_path, class: "button hollow" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
