<div class="row columns">
  <div class="title-action">
    <h2 class="title-action__title section-heading">
      <%= t(".new_solution") %>
    </h2>
  </div>
</div>
<div class="row">
  <div id="solutions" class="columns mediumlarge-8 large-9">
    <%= decidim_form_for(@solution, url: solutions_path, html: { class: "form" }) do |form| %>
      <div class="card">
        <div class="card-section">

        <%= form.text_field :title %>
        <%= form.text_area :description %>
        <%= form.text_field :youtube_link %>
        <%= form.url_field :github_link %>
        <%= form.url_field :web_url %>
        <%= form.url_field :android_mkt_url %>
        <%= form.url_field :ios_mkt_url %>
        <%= form.select(:sd_goal_id, options_for_select(SDGoal.all.map { |ods| [translated_attribute(ods.name), ods.id] })) %>
        <%= form.text_field :team_name %>
        <%= form.hidden_field :user, value: current_user.id %>


        <%= form.submit t(".publish") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
